<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#"><img src="http://findicons.com/files/icons/367/ifunny/128/dog.png" alt="Brand"></a> -->
      <a class="navbar-brand" href="/">Brand</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      
      <% if logged_in? %>

      <li role="presentation" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> <%= current_user.firstname + " " + current_user.lastname %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
              <a href="/dashboard"><i class="glyphicon glyphicon-fw glyphicon-user"></i> Dashboard</a>
          </li>
          <li>
              <a href="#"><i class="glyphicon glyphicon-fw glyphicon-envelope"></i> Profile</a>
          </li>
          <li>
              <a href="#"><i class="glyphicon glyphicon-fw glyphicon-cog"></i> Settings</a>
          </li>
          <li class="divider"></li>
          <li>
            <form action="/session" method="post" class="navbar-form">
              <input type="hidden" name="_method" value="delete">
              <button><i class="glyphicon glyphicon-fw glyphicon-power-off"></i>Logout</button>
            </form>
          </li>
        </ul>
      </li>

      <% else %>
      <!-- <ul class="nav navbar-nav navbar-right"> -->
        <li id="link-inline">
          <a href="#take-action" class="">Sign Up</a>
        </li>
      
        <li role="presentation" class="dropdown" id="link-inline">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> Sign In <b class="caret"></b></a>
          <ul class="dropdown-menu dropdown-menu-edited">
            <li>
              <form class="form-horizontal form-horizontal-edited" action="/session" method="post">
                <div class="form-group form-group-edited">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" name="email" class="form-control form-control-edited" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group form-group-edited">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" name="password" class="form-control form-control-edited" id="exampleInputPassword1" placeholder="Password">
                </div>
                <li><button class="btn btn-default btn-login">Sign In</button></li>
              </form>
            </li>
          </ul>
        </li>

        <!-- </ul> -->
      <% end %>
    </ul>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/dogs">Dogs <span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

      

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>