<!-- SIDEBAR! -->
<ul class="nav nav-pills nav-stacked col-xs-4">
  <li role="tab1" class="active"><a href="#tab1" data-toggle="tab">Home</a></li>
  <li role="tab2"><a href="#tab2" data-toggle="tab">Dogs</a></li>
  <li role="tab3"><a href="#tab3" data-toggle="tab">Messages</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade" id="tab1">
      Tab 1 content
  </div>
  <div class="tab-pane fade" id="tab2">
      Tab 2 content              
  </div>
  <div class="tab-pane fade" id="tab3">
      Tab 3 content
  </div>
</div> 

