/* General */
html, body {
  width: 100%;
  height: 100%;
}

section {
  padding: 100px 0;
}

/* COMPONENT */
hr {
  max-width: 50px;
  border-color: rgb(251, 175, 93);
  border-width: 3px;
}

.push-down {
  margin-top: 10em;
}

/* NAVBAR */
.navbar {
  border-radius: 0;
}

#link-inline {
  display: inline-block;
}

.signup {
  float: left;
  border: 0;
}

.dropdown-menu-edited {
  min-width: 300px;
}

.form-horizontal-edited .form-group-edited{
  margin-left: 15px;
  margin-right: 15px; 
}

.btn-login {
  margin-left: 15px;
  margin-bottom: 10px;
}

.sidebar-custom {
  padding-left: 15px;
}

.form-control-edited {
  width: 100%;
}

/* HEADER */
.header {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  /*color: ;*/
  background: url(../img/bg.jpg);
  background-size: cover;
}

.header .header-content {
  position: relative;
  width: 100%;
  padding: 100px 15px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 1px 0px 1px rgba(150, 150, 150, 1);
}

.header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.header-content p {
  color: rgb(255, 255, 255);
  text-shadow: 1px 0px 1px rgba(150, 150, 150, 1);
}

/* DOG LIST PAGE */
.dog-img {
  width: 100%;
}

/* DASHBOARD */

.user-home {
  padding: 25px;
}

.user-dog-list h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.user-dog-edit {
  padding: 15px;
}

.add-dog-btn {
  margin-bottom: 15px;
}

.form-user-detail {
  padding: 15px;
}

/* FOOTER */
footer {
  padding: 25px 0;
  text-align: center;
}

.copyright {
  /*line-height: 40px;*/
}

.vertical {
  padding-top: 14px;
}

ul.social-buttons li a {
  display: block;
  background-color: rgb(251, 175, 93);
  height: 50px;
  width: 50px;
  border-radius: 5px;
  line-height: 62px;
  color: #fff;
  outline: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}


@media (min-width: 768px) {
  .push-down {
    margin-top: 5em;
  }

  .header {
    min-height: 100%;
  }

  .header .header-content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    width: 100%;
    text-align: center;
  }

  .header .header-content .header-content-inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
  }
}

@media (max-width: 768px) {
  .signup {
    margin: 0;
    padding: 3px 15px;
    float: left;
    border: 0;
  }

  .form-control-edited {
    width: 50%;
  }

  
}